.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 120rem;
    margin: 2.5rem auto;
}

.container .ccontainerHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;
    margin: 0rem 2.5rem 1.5rem 2.5rem;
}

.container .ccontainerHeader button {
    background-color: #e0e0e0;
}

.container .ccontainerHeader p {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.5rem;
}

.container .ccontainerBodyHeader,
.container .ccontainerBodyUserInfo {
    border: 0.1rem dotted lightgray;
    border-radius: 0.5rem;
    margin: 1rem 2.5rem 1rem 2.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding: 2.5rem;
}

.container .ccontainerBodyUserInfo {
    justify-content: center;
    gap: 2.5rem;
}

.container .ccontainerBodyHeader .ccontainerBodyHeaderLeft {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    gap: 1rem;
    flex: 1;
}

.container .ccontainerBodyHeader .ccontainerBodyHeaderLeft img {
    width: 15rem;
    border-radius: 50%;
}

.container .ccontainerBodyHeader .ccontainerBodyHeaderLeft p {
    font-size: 1.6rem;
    font-weight: 500;
}

.container .ccontainerBodyHeaderRight {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2rem;
    font-size: 1.6rem;
    align-items: flex-start;
    font-weight: 500;
    flex: 1;
}

.container .ccontainerBodyUserInfo p {
    display: inline-block;
    padding: 0.2rem 0.7rem;
    text-align: center;
    margin: 0.3rem;
    border-radius: 5px;
    color: white;
    font-size: 1.3rem;
}

.container .ccontainerBodyUserInfo p:nth-child(1) {
    background-color: var(--primary-color);
}

.container .ccontainerBodyUserInfo p:nth-child(2) {
    background: var(--light-color);
    color: #333;
    border: 1px solid #ccc;
}

.container .ccontainerBodyUserInfo p:nth-child(3) {
    background: var(--success-color);
}

.container .ccontainerBodyUserInfo p:nth-child(4) {
    background: var(--dark-color);
}

.container .ccontainerBodyRepos .repo {
    border: 0.1rem dotted lightgray;
    border-radius: 0.5rem;
    margin: 1rem 2.5rem 1rem 2.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
}

.container .ccontainerBodyRepos .repo a {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 500;
}

.container .ccontainerBodyRepos .repo p {
    font-size: 1.3rem;
}

.container .ccontainerBodyRepos .repo div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 2.5rem;
    justify-content: center;
    align-content: center;
}

@media only screen and (max-width: 768px) {
    .container .ccontainerBodyHeader {
        flex-direction: column;
    }

    .container .ccontainerBodyHeaderRight {
        width: 100%;
    }
}