header {
    padding: 1rem 2rem;
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    background-color: var(--primary-color);
}

header .headerLeft,
header .headerRight {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--light-color);
}

header .headerLeft svg {
    width: 3rem;
    height: 3rem;
}

header .headerLeft h1 {
    font-size: 2.4rem;
}

header .headerRight ul {
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    flex-direction: row;
}

header .headerRight ul li a {
    font-size: 1.6rem;
    color: var(--light-color);
    transition: 0.3s;
}

header .headerRight ul li a:hover {
    color: var(--dark-color);
    transition: 0.3s;
}

@media only screen and (max-width: 700px) {
    header {
        flex-direction: column;
    }
}